@model Liaison.Web.Asp.Models.ViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    
@using (Html.BeginForm("RefinedIndex", "Orbat"))
{
    <div>
        <label for="Depth">Depth</label>
        @Html.EditorFor(m => m.Depth, new {htmlAttributes = new {style = "width: 50px"}})

        <label for="Input">Input</label>
        @Html.EditorFor(m => m.Input, new {htmlAttributes = new {style = "width: 150px"}})

        <button name="submit">Do it</button>
    </div>
}

@Html.Raw(Model.TheTree.PrintTree().Replace(Environment.NewLine, "<br />"))

</body>
</html>
