@model Liaison.BLL.Models.Unit.IUnit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>

    @Html.Raw(Model.PrintTree().Replace(Environment.NewLine, "<br />"))
   
</body>
</html>
