<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LiaisonEntities" connectionString="metadata=res://*/Edmx.Liaison.csdl|res://*/Edmx.Liaison.ssdl|res://*/Edmx.Liaison.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Liaison;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>