USE [master]
GO
/****** Object:  Database [Liaison]    Script Date: 05/07/2018 00:17:14 ******/
CREATE DATABASE [Liaison]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Liaison', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Liaison.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Liaison_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Liaison_log.ldf' , SIZE = 13632KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Liaison].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Liaison]
GO
/****** Object:  Table [dbo].[AdminCorps]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminCorps](
	[AdminCorpsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[ParentUnitId] [int] NULL,
	[Lookup] [nvarchar](5) NULL,
	[ParentAdminCorpsId] [int] NULL,
 CONSTRAINT [PK_AdminCorps] PRIMARY KEY CLUSTERED 
(
	[AdminCorpsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Aircraft]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircraft](
	[AircraftId] [int] NULL,
	[AircraftGuid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Aircraft_AircraftId]  DEFAULT (newid()),
	[Name] [nvarchar](50) NOT NULL,
	[SortName] [nvarchar](50) NULL,
	[Mark] [nvarchar](50) NOT NULL,
	[Sort] [nvarchar](50) NULL,
	[AltCode] [nvarchar](50) NULL,
	[AltName] [nvarchar](50) NULL,
	[AltSort] [nvarchar](50) NULL,
 CONSTRAINT [PK_Aircraft] PRIMARY KEY CLUSTERED 
(
	[AircraftGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Base]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base](
	[BaseId] [int] IDENTITY(1,1) NOT NULL,
	[SortName] [nvarchar](255) NOT NULL,
	[Prefix] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Suffix] [nvarchar](50) NULL,
	[CommissionedName] [nvarchar](255) NULL,
	[AltName] [nvarchar](255) NULL,
	[IATACode] [nvarchar](3) NULL,
	[ICAOCode] [nvarchar](4) NULL,
	[FAACode] [nvarchar](3) NULL,
	[AFDCode] [nvarchar](4) NULL,
	[ParentBaseId] [int] NULL,
	[ShipId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Base] PRIMARY KEY CLUSTERED 
(
	[BaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EquipmentOwner]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentOwner](
	[EquipmentOwnerId] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Quantity] [decimal](5, 1) NULL,
	[Notes] [nvarchar](max) NULL,
	[AircraftId] [uniqueidentifier] NULL,
	[IsOwner] [bit] NULL,
 CONSTRAINT [PK_EquipmentOwner] PRIMARY KEY CLUSTERED 
(
	[EquipmentOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mission]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mission](
	[MissionId] [int] IDENTITY(1,1) NOT NULL,
	[Structure] [nvarchar](50) NULL,
	[MainMission] [nvarchar](255) NULL,
	[MissionVariant] [nvarchar](255) NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[ShortForm] [nvarchar](50) NULL,
	[AltShortForm] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mission] PRIMARY KEY CLUSTERED 
(
	[MissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MissionUnit]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MissionUnit](
	[MissionId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[MissionVariant] [nvarchar](255) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_MissionUnit] PRIMARY KEY CLUSTERED 
(
	[MissionId] ASC,
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organisation]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisation](
	[OrganisationId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Navy] [bit] NOT NULL,
	[Army] [bit] NOT NULL,
	[AirForce] [bit] NOT NULL,
	[Marines] [bit] NOT NULL,
	[Joint] [bit] NOT NULL,
	[Rank] [int] NOT NULL,
 CONSTRAINT [PK__Organisation] PRIMARY KEY CLUSTERED 
(
	[OrganisationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rank]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rank](
	[Symbol] [nvarchar](1) NOT NULL,
	[Army] [nvarchar](255) NULL,
	[Navy] [nvarchar](255) NULL,
	[AirForce] [nvarchar](255) NULL,
	[Joint] [nvarchar](255) NULL,
	[Rank] [nvarchar](8) NULL,
	[RankLevel] [int] NULL,
	[InUse] [bit] NULL,
	[NavyRank] [nvarchar](50) NULL,
	[NavyRankAbbrev] [nvarchar](50) NULL,
	[ArmyRank] [nvarchar](50) NULL,
	[ArmyRankAbbrev] [nvarchar](50) NULL,
	[AirForceRank] [nvarchar](50) NULL,
	[AirForceRankAbbrev] [nvarchar](50) NULL,
	[MarineRank] [nvarchar](50) NULL,
	[MarineRankAbbrev] [nvarchar](50) NULL,
 CONSTRAINT [PK__Symbol] PRIMARY KEY CLUSTERED 
(
	[Symbol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relationship]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationship](
	[RelationshipId] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Relationship2_RelationshipGuid]  DEFAULT (newid()),
	[RelFrom] [uniqueidentifier] NULL,
	[RelTo] [uniqueidentifier] NULL,
	[RelTypeIdx] [int] NOT NULL,
	[RelFromUnitId] [int] NOT NULL,
	[RelToUnitId] [int] NOT NULL,
 CONSTRAINT [PK_Relationship] PRIMARY KEY CLUSTERED 
(
	[RelFromUnitId] ASC,
	[RelToUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RelationshipType]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipType](
	[RelationshipTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_RelationshipType] PRIMARY KEY CLUSTERED 
(
	[RelationshipTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[ServiceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_ServiceType] PRIMARY KEY CLUSTERED 
(
	[ServiceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ship]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship](
	[ShipId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Ship_ShipGuid]  DEFAULT (newid()),
	[UnitId] [int] NULL,
	[ShipPrefixId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[HCS] [nvarchar](50) NULL,
	[HCSNumber] [int] NULL,
	[PennantCode] [nvarchar](5) NULL,
	[PennantNumber] [int] NULL,
	[IsBase] [bit] NOT NULL,
	[AltName] [nvarchar](255) NULL,
	[AltHCS] [nvarchar](50) NULL,
	[AltHCSNumber] [int] NULL,
	[IsInactive] [bit] NOT NULL,
	[NewShipId] [uniqueidentifier] NULL,
	[Commissioned] [date] NULL,
	[Decommissioned] [date] NULL,
	[ShipClassId] [int] NULL,
 CONSTRAINT [PK_Ship] PRIMARY KEY CLUSTERED 
(
	[ShipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShipClass]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipClass](
	[ShipClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](255) NOT NULL,
	[ClassCodeHCS] [nvarchar](50) NOT NULL,
	[ClassCodeNumber] [int] NOT NULL,
	[ModFrom] [int] NULL,
	[ModName] [nvarchar](255) NULL,
 CONSTRAINT [PK_ShipClass] PRIMARY KEY CLUSTERED 
(
	[ShipClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShipClassMember]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipClassMember](
	[ShipId] [uniqueidentifier] NOT NULL,
	[ShipClassId] [int] NOT NULL,
	[IsLeadBoat] [bit] NOT NULL,
 CONSTRAINT [PK_ShipClassMember] PRIMARY KEY CLUSTERED 
(
	[ShipId] ASC,
	[ShipClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShipPrefix]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipPrefix](
	[ShipPrefixId] [int] IDENTITY(1,1) NOT NULL,
	[ShipPrefix] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ShipPrefix] PRIMARY KEY CLUSTERED 
(
	[ShipPrefixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SortOrder]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SortOrder](
	[SortOrderId] [int] IDENTITY(1,1) NOT NULL,
	[SearchTerm] [nvarchar](255) NOT NULL,
	[SortOrderRank] [int] NOT NULL,
 CONSTRAINT [PK_SortOrder] PRIMARY KEY CLUSTERED 
(
	[SortOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskForce]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskForce](
	[UnitId] [int] NOT NULL,
	[TaskForceName] [nvarchar](50) NULL,
	[TaskForceNo] [int] NULL,
	[TaskGroup] [int] NULL,
	[TaskUnit] [int] NULL,
	[TaskElement] [int] NULL,
	[SortName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_TaskForce] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tennant]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tennant](
	[TennancyId] [int] IDENTITY(1,1) NOT NULL,
	[BaseId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[IsHost] [bit] NOT NULL,
 CONSTRAINT [PK_Tennant] PRIMARY KEY CLUSTERED 
(
	[BaseId] ASC,
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NULL,
	[UseOrdinal] [bit] NOT NULL CONSTRAINT [DF__Unit__UseOrdinal__2A4B4B5E]  DEFAULT ((0)),
	[NickName] [nvarchar](255) NULL,
	[LegacyMissionName] [nvarchar](255) NULL,
	[MissionName] [nvarchar](255) NULL,
	[UniqueName] [nvarchar](255) NULL,
	[CommandName] [nvarchar](255) NULL,
	[UnitTypeVariant] [nvarchar](255) NULL,
	[ServiceIdx] [int] NOT NULL,
	[ServiceTypeIdx] [int] NOT NULL,
	[TerritorialDesignation] [nvarchar](5) NULL,
	[UnitGuid] [uniqueidentifier] NOT NULL CONSTRAINT [DF__Unit__UnitGuid__276EDEB3]  DEFAULT (newid()),
	[RankSymbol] [nvarchar](1) NOT NULL,
	[AdminCorpsId] [int] NULL,
	[CanHide] [bit] NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UnitIndex]    Script Date: 05/07/2018 00:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitIndex](
	[UnitIndexId] [int] IDENTITY(1,1) NOT NULL,
	[IndexCode] [nvarchar](50) NOT NULL,
	[UnitGuid] [uniqueidentifier] NULL,
	[UnitId] [int] NOT NULL,
	[IsSortIndex] [bit] NOT NULL,
	[IsDisplayIndex] [bit] NOT NULL,
	[IsAlt] [bit] NOT NULL,
	[IsPlaceholder] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_UnitIndex] PRIMARY KEY CLUSTERED 
(
	[UnitIndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AdminCorps] ON 

INSERT [dbo].[AdminCorps] ([AdminCorpsId], [Name], [Code], [ParentUnitId], [Lookup], [ParentAdminCorpsId]) VALUES (1, N'Fleet Air Arm', N'FAA', NULL, NULL, NULL)
INSERT [dbo].[AdminCorps] ([AdminCorpsId], [Name], [Code], [ParentUnitId], [Lookup], [ParentAdminCorpsId]) VALUES (2, N'Royal Air Force', N'RAF', NULL, NULL, NULL)
INSERT [dbo].[AdminCorps] ([AdminCorpsId], [Name], [Code], [ParentUnitId], [Lookup], [ParentAdminCorpsId]) VALUES (3, N'RAF Medical Services', N'RAFMS', NULL, N'MD', 2)
SET IDENTITY_INSERT [dbo].[AdminCorps] OFF
INSERT [dbo].[Aircraft] ([AircraftId], [AircraftGuid], [Name], [SortName], [Mark], [Sort], [AltCode], [AltName], [AltSort]) VALUES (NULL, N'77658911-2404-4ad7-af4e-1fd579e10309', N'Talon', N'Talon', N'T.3', N'3.T', N'T-____1C', N'Talon', N'T-____1C/_T__')
INSERT [dbo].[Aircraft] ([AircraftId], [AircraftGuid], [Name], [SortName], [Mark], [Sort], [AltCode], [AltName], [AltSort]) VALUES (NULL, N'4f4d64b8-71e9-4aca-af77-28911fb7230a', N'Seahawk', N'Black Hawk', N'HM.19', N'19.HM', N'MH-___60S', N'Seahawk', N'H-___60S/H_M_')
INSERT [dbo].[Aircraft] ([AircraftId], [AircraftGuid], [Name], [SortName], [Mark], [Sort], [AltCode], [AltName], [AltSort]) VALUES (NULL, N'b104b35e-56c4-453a-b4fd-365182af277a', N'Iroquois', N'Iroquois', N'HU.14', N'14.HU', N'UH-____1N', N'Iroquois', N'H-____1N/HU__')
SET IDENTITY_INSERT [dbo].[Base] ON 

INSERT [dbo].[Base] ([BaseId], [SortName], [Prefix], [Name], [Suffix], [CommissionedName], [AltName], [IATACode], [ICAOCode], [FAACode], [AFDCode], [ParentBaseId], [ShipId]) VALUES (1, N'Belleville', N'RAF', N'Belleville (Scott AFB)', NULL, N'Scott AFB', N'Scott AFB', N'BLV', N'KBLV', N'BLV', N'KBLV', NULL, NULL)
INSERT [dbo].[Base] ([BaseId], [SortName], [Prefix], [Name], [Suffix], [CommissionedName], [AltName], [IATACode], [ICAOCode], [FAACode], [AFDCode], [ParentBaseId], [ShipId]) VALUES (2, N'Arlington', N'JFHQ', N'Arlington', N'(The Pentagon)', NULL, N'The Pentagon', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Base] ([BaseId], [SortName], [Prefix], [Name], [Suffix], [CommissionedName], [AltName], [IATACode], [ICAOCode], [FAACode], [AFDCode], [ParentBaseId], [ShipId]) VALUES (3, N'Brunssum', N'JFHQ', N'Brunssum', NULL, NULL, N'JFC Brunssum', NULL, NULL, NULL, NULL, 4, NULL)
SET IDENTITY_INSERT [dbo].[Base] OFF
SET IDENTITY_INSERT [dbo].[EquipmentOwner] ON 

INSERT [dbo].[EquipmentOwner] ([EquipmentOwnerId], [UnitId], [Quantity], [Notes], [AircraftId], [IsOwner]) VALUES (1, 80, CAST(8.0 AS Decimal(5, 1)), NULL, N'a659dd17-e9ef-40b7-9c3f-bc9d2574ecce', 0)
INSERT [dbo].[EquipmentOwner] ([EquipmentOwnerId], [UnitId], [Quantity], [Notes], [AircraftId], [IsOwner]) VALUES (2, 81, CAST(0.0 AS Decimal(5, 1)), NULL, N'a659dd17-e9ef-40b7-9c3f-bc9d2574ecce', 0)
INSERT [dbo].[EquipmentOwner] ([EquipmentOwnerId], [UnitId], [Quantity], [Notes], [AircraftId], [IsOwner]) VALUES (3, 79, CAST(8.0 AS Decimal(5, 1)), NULL, N'a659dd17-e9ef-40b7-9c3f-bc9d2574ecce', 0)
SET IDENTITY_INSERT [dbo].[EquipmentOwner] OFF
SET IDENTITY_INSERT [dbo].[Mission] ON 

INSERT [dbo].[Mission] ([MissionId], [Structure], [MainMission], [MissionVariant], [DisplayName], [FullName], [ShortForm], [AltShortForm], [Notes]) VALUES (1, N'!', NULL, NULL, N'UCC', N'Functional Unified Combatant Command', N'UCC', N'UCC', NULL)
INSERT [dbo].[Mission] ([MissionId], [Structure], [MainMission], [MissionVariant], [DisplayName], [FullName], [ShortForm], [AltShortForm], [Notes]) VALUES (2, N'!', NULL, NULL, N'Supreme HQ', N'Supreme Headquarters', N'SHQ', N'SHQ', NULL)
INSERT [dbo].[Mission] ([MissionId], [Structure], [MainMission], [MissionVariant], [DisplayName], [FullName], [ShortForm], [AltShortForm], [Notes]) VALUES (3, N'!', NULL, NULL, N'SRC', N'Sub-Regional Command', N'SRC', N'SRC', NULL)
SET IDENTITY_INSERT [dbo].[Mission] OFF
INSERT [dbo].[MissionUnit] ([MissionId], [UnitId], [MissionVariant], [Notes]) VALUES (1, 9, N'Combined', NULL)
INSERT [dbo].[MissionUnit] ([MissionId], [UnitId], [MissionVariant], [Notes]) VALUES (1, 37, N'Functional', NULL)
INSERT [dbo].[MissionUnit] ([MissionId], [UnitId], [MissionVariant], [Notes]) VALUES (1, 38, N'Functional', NULL)
GO
INSERT [dbo].[Organisation] ([OrganisationId], [Name], [Navy], [Army], [AirForce], [Marines], [Joint], [Rank]) VALUES (1, N'Command', 1, 1, 1, 1, 1, 100)
INSERT [dbo].[Organisation] ([OrganisationId], [Name], [Navy], [Army], [AirForce], [Marines], [Joint], [Rank]) VALUES (2, N'Ship', 1, 1, 0, 0, 0, 850)
INSERT [dbo].[Organisation] ([OrganisationId], [Name], [Navy], [Army], [AirForce], [Marines], [Joint], [Rank]) VALUES (3, N'NumberedAirForce', 0, 0, 1, 0, 0, 500)
INSERT [dbo].[Rank] ([Symbol], [Army], [Navy], [AirForce], [Joint], [Rank], [RankLevel], [InUse], [NavyRank], [NavyRankAbbrev], [ArmyRank], [ArmyRankAbbrev], [AirForceRank], [AirForceRankAbbrev], [MarineRank], [MarineRankAbbrev]) VALUES (N'-', NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Rank] ([Symbol], [Army], [Navy], [AirForce], [Joint], [Rank], [RankLevel], [InUse], [NavyRank], [NavyRankAbbrev], [ArmyRank], [ArmyRankAbbrev], [AirForceRank], [AirForceRankAbbrev], [MarineRank], [MarineRankAbbrev]) VALUES (N'!', NULL, NULL, NULL, N'JFHQ', N'XXXXXXXX', 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Rank] ([Symbol], [Army], [Navy], [AirForce], [Joint], [Rank], [RankLevel], [InUse], [NavyRank], [NavyRankAbbrev], [ArmyRank], [ArmyRankAbbrev], [AirForceRank], [AirForceRankAbbrev], [MarineRank], [MarineRankAbbrev]) VALUES (N'"', N'Land Command', N'Fleet Command', N'Air Command', N'UCC', N'XXXXXXX', 1, 1, N'Admiral of the Fleet', N'Adm. Flt.', N'Field Marshal General', N'FMG', N'Marshal of the Air Force', N'MAF', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Relationship] ON 

INSERT [dbo].[Relationship] ([RelationshipId], [RelationshipGuid], [RelFrom], [RelTo], [RelTypeIdx], [RelFromUnitId], [RelToUnitId]) VALUES (2, N'46be9e27-c006-4147-bc1a-bd6e57c7d25e', N'ae6f5b41-edcb-447f-b1ab-d34b424bec55', N'5b53631a-c25a-49c4-8501-848f7124b710', 2, 4, 9)
INSERT [dbo].[Relationship] ([RelationshipId], [RelationshipGuid], [RelFrom], [RelTo], [RelTypeIdx], [RelFromUnitId], [RelToUnitId]) VALUES (10, N'ab94a996-07f2-4e06-8ed9-ea3a065901e9', N'ae6f5b41-edcb-447f-b1ab-d34b424bec55', N'ec641dc5-2d50-42d7-b868-f03c9b483a65', 2, 4, 29)
INSERT [dbo].[Relationship] ([RelationshipId], [RelationshipGuid], [RelFrom], [RelTo], [RelTypeIdx], [RelFromUnitId], [RelToUnitId]) VALUES (19, N'ecbd5361-4895-45ae-b731-a6f2ec80ff56', NULL, NULL, 2, 4, 31)
GO
SET IDENTITY_INSERT [dbo].[Relationship] OFF
SET IDENTITY_INSERT [dbo].[RelationshipType] ON 

INSERT [dbo].[RelationshipType] ([RelationshipTypeId], [Name], [Notes]) VALUES (1, N'Organic', N'Organic assets are assigned to and forming an essential part of a military organization. Organic assets are those listed in the unit''s MTOE, and are in this command relationship when conducting missions in support of their own unit.')
INSERT [dbo].[RelationshipType] ([RelationshipTypeId], [Name], [Notes]) VALUES (2, N'Assigned', N'Assigned is to place units or personnel in an organization where such placement is relatively permanent, and/or where such organization controls or administers the unit or personnel for the primary functions of the unit. As in organic, units will have this relationship when C2 is exercised by their parent headquarters.')
INSERT [dbo].[RelationshipType] ([RelationshipTypeId], [Name], [Notes]) VALUES (3, N'Attached', N'Attached is the placement of units or personnel in an organization where such placement is relatively temporary. The commander of the unit that receives the attachment is responsible for the sustainment and logistics support that is beyond the capability of the attached unit. An example of this relationship is a cargo helicopter platoon being attached to a division for the duration of an operation.')
SET IDENTITY_INSERT [dbo].[RelationshipType] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ServiceId], [Name], [SortOrder]) VALUES (1, N'Navy', 10)
INSERT [dbo].[Service] ([ServiceId], [Name], [SortOrder]) VALUES (2, N'Army', 20)
INSERT [dbo].[Service] ([ServiceId], [Name], [SortOrder]) VALUES (3, N'AirForce', 30)
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[ServiceType] ON 

INSERT [dbo].[ServiceType] ([ServiceTypeId], [Name], [SortOrder]) VALUES (1, N'Active', 10)
INSERT [dbo].[ServiceType] ([ServiceTypeId], [Name], [SortOrder]) VALUES (2, N'Integrated', 20)
INSERT [dbo].[ServiceType] ([ServiceTypeId], [Name], [SortOrder]) VALUES (3, N'Reserve', 30)
SET IDENTITY_INSERT [dbo].[ServiceType] OFF
INSERT [dbo].[Ship] ([ShipId], [UnitId], [ShipPrefixId], [Name], [HCS], [HCSNumber], [PennantCode], [PennantNumber], [IsBase], [AltName], [AltHCS], [AltHCSNumber], [IsInactive], [NewShipId], [Commissioned], [Decommissioned], [ShipClassId]) VALUES (N'7aa678aa-c08e-4cc3-be7f-0ffeb4acd47d', 578, 1, N'Stockdale', N'DDGH', 106, N'D', 106, 0, N'Stockdale', N'DDG', 106, 0, NULL, CAST(N'2009-04-18' AS Date), NULL, NULL)
INSERT [dbo].[Ship] ([ShipId], [UnitId], [ShipPrefixId], [Name], [HCS], [HCSNumber], [PennantCode], [PennantNumber], [IsBase], [AltName], [AltHCS], [AltHCSNumber], [IsInactive], [NewShipId], [Commissioned], [Decommissioned], [ShipClassId]) VALUES (N'91e317c8-3ca3-4040-9d95-148087f896fb', 200, 1, N'Tennessee', N'SSBN', 734, N'S', 734, 0, N'Tennessee', N'SSBN', 734, 0, NULL, CAST(N'1988-12-17' AS Date), NULL, NULL)
INSERT [dbo].[Ship] ([ShipId], [UnitId], [ShipPrefixId], [Name], [HCS], [HCSNumber], [PennantCode], [PennantNumber], [IsBase], [AltName], [AltHCS], [AltHCSNumber], [IsInactive], [NewShipId], [Commissioned], [Decommissioned], [ShipClassId]) VALUES (N'19e62ea0-a063-4a46-83cc-1520eb2b2ec9', 204, 1, N'Kentucky', N'SSBN', 737, N'S', 737, 0, N'Kentucky', N'SSBN', 737, 0, NULL, CAST(N'1991-07-13' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShipClass] ON 

INSERT [dbo].[ShipClass] ([ShipClassId], [ClassName], [ClassCodeHCS], [ClassCodeNumber], [ModFrom], [ModName]) VALUES (1, N'Ohio', N'SSBN', 726, NULL, NULL)
INSERT [dbo].[ShipClass] ([ShipClassId], [ClassName], [ClassCodeHCS], [ClassCodeNumber], [ModFrom], [ModName]) VALUES (2, N'Ohio', N'SSGN', 726, 1, N'SSGN refit')
INSERT [dbo].[ShipClass] ([ShipClassId], [ClassName], [ClassCodeHCS], [ClassCodeNumber], [ModFrom], [ModName]) VALUES (3, N'Africa', N'CVN', 79, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShipClass] OFF
INSERT [dbo].[ShipClassMember] ([ShipId], [ShipClassId], [IsLeadBoat]) VALUES (N'7aa678aa-c08e-4cc3-be7f-0ffeb4acd47d', 11, 0)
INSERT [dbo].[ShipClassMember] ([ShipId], [ShipClassId], [IsLeadBoat]) VALUES (N'91e317c8-3ca3-4040-9d95-148087f896fb', 1, 0)
INSERT [dbo].[ShipClassMember] ([ShipId], [ShipClassId], [IsLeadBoat]) VALUES (N'19e62ea0-a063-4a46-83cc-1520eb2b2ec9', 1, 0)
SET IDENTITY_INSERT [dbo].[ShipPrefix] ON 

INSERT [dbo].[ShipPrefix] ([ShipPrefixId], [ShipPrefix]) VALUES (1, N'HMS')
INSERT [dbo].[ShipPrefix] ([ShipPrefixId], [ShipPrefix]) VALUES (2, N'PCU')
INSERT [dbo].[ShipPrefix] ([ShipPrefixId], [ShipPrefix]) VALUES (3, N'ex')
SET IDENTITY_INSERT [dbo].[ShipPrefix] OFF
SET IDENTITY_INSERT [dbo].[SortOrder] ON 

INSERT [dbo].[SortOrder] ([SortOrderId], [SearchTerm], [SortOrderRank]) VALUES (1, N'TRANSCOM', 16)
INSERT [dbo].[SortOrder] ([SortOrderId], [SearchTerm], [SortOrderRank]) VALUES (4, N'CYBERCOM', 14)
INSERT [dbo].[SortOrder] ([SortOrderId], [SearchTerm], [SortOrderRank]) VALUES (5, N'JFCOM-OPS', 2)
SET IDENTITY_INSERT [dbo].[SortOrder] OFF
INSERT [dbo].[TaskForce] ([UnitId], [TaskForceName], [TaskForceNo], [TaskGroup], [TaskUnit], [TaskElement], [SortName]) VALUES (86, NULL, 124, NULL, NULL, NULL, N'_124')
INSERT [dbo].[TaskForce] ([UnitId], [TaskForceName], [TaskForceNo], [TaskGroup], [TaskUnit], [TaskElement], [SortName]) VALUES (89, NULL, 214, NULL, NULL, NULL, N'_214')
INSERT [dbo].[TaskForce] ([UnitId], [TaskForceName], [TaskForceNo], [TaskGroup], [TaskUnit], [TaskElement], [SortName]) VALUES (138, NULL, 204, NULL, NULL, NULL, N'_204')
SET IDENTITY_INSERT [dbo].[Tennant] ON 

INSERT [dbo].[Tennant] ([TennancyId], [BaseId], [UnitId], [IsHost]) VALUES (1, 1, 38, 0)
INSERT [dbo].[Tennant] ([TennancyId], [BaseId], [UnitId], [IsHost]) VALUES (2, 2, 4, 1)
INSERT [dbo].[Tennant] ([TennancyId], [BaseId], [UnitId], [IsHost]) VALUES (4, 3, 13, 1)
GO
SET IDENTITY_INSERT [dbo].[Tennant] OFF
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([UnitId], [Number], [UseOrdinal], [NickName], [LegacyMissionName], [MissionName], [UniqueName], [CommandName], [UnitTypeVariant], [ServiceIdx], [ServiceTypeIdx], [TerritorialDesignation], [UnitGuid], [RankSymbol], [AdminCorpsId], [CanHide]) VALUES (4, NULL, 0, NULL, NULL, NULL, NULL, N'Joint Forces Headquarters', NULL, 8, 1, NULL, N'ae6f5b41-edcb-447f-b1ab-d34b424bec55', N'!', NULL, 0)
INSERT [dbo].[Unit] ([UnitId], [Number], [UseOrdinal], [NickName], [LegacyMissionName], [MissionName], [UniqueName], [CommandName], [UnitTypeVariant], [ServiceIdx], [ServiceTypeIdx], [TerritorialDesignation], [UnitGuid], [RankSymbol], [AdminCorpsId], [CanHide]) VALUES (9, NULL, 0, NULL, NULL, NULL, NULL, N'Joint Forces Command Operations', NULL, 8, 1, NULL, N'5b53631a-c25a-49c4-8501-848f7124b710', N'"', NULL, 0)
INSERT [dbo].[Unit] ([UnitId], [Number], [UseOrdinal], [NickName], [LegacyMissionName], [MissionName], [UniqueName], [CommandName], [UnitTypeVariant], [ServiceIdx], [ServiceTypeIdx], [TerritorialDesignation], [UnitGuid], [RankSymbol], [AdminCorpsId], [CanHide]) VALUES (13, NULL, 0, NULL, NULL, NULL, NULL, N'Joint Forces Command - Central Europe', NULL, 8, 1, NULL, N'433f5cc8-240e-490b-9c09-46f7ca6d75da', N'$', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Unit] OFF
SET IDENTITY_INSERT [dbo].[UnitIndex] ON 

INSERT [dbo].[UnitIndex] ([UnitIndexId], [IndexCode], [UnitGuid], [UnitId], [IsSortIndex], [IsDisplayIndex], [IsAlt], [IsPlaceholder], [DisplayOrder]) VALUES (3, N'JFHQ', N'ae6f5b41-edcb-447f-b1ab-d34b424bec55', 4, 1, 1, 0, 0, NULL)
INSERT [dbo].[UnitIndex] ([UnitIndexId], [IndexCode], [UnitGuid], [UnitId], [IsSortIndex], [IsDisplayIndex], [IsAlt], [IsPlaceholder], [DisplayOrder]) VALUES (4, N'JFCOM-OPS', N'5b53631a-c25a-49c4-8501-848f7124b710', 9, 1, 1, 0, 0, NULL)
INSERT [dbo].[UnitIndex] ([UnitIndexId], [IndexCode], [UnitGuid], [UnitId], [IsSortIndex], [IsDisplayIndex], [IsAlt], [IsPlaceholder], [DisplayOrder]) VALUES (5, N'JFCENT', NULL, 13, 0, 1, 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[UnitIndex] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_UniqueSearchTerm]    Script Date: 05/07/2018 00:17:14 ******/
ALTER TABLE [dbo].[SortOrder] ADD  CONSTRAINT [AK_UniqueSearchTerm] UNIQUE NONCLUSTERED 
(
	[SearchTerm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IndexCode]    Script Date: 05/07/2018 00:17:14 ******/
ALTER TABLE [dbo].[UnitIndex] ADD  CONSTRAINT [IX_IndexCode] UNIQUE NONCLUSTERED 
(
	[IndexCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminCorps]  WITH CHECK ADD  CONSTRAINT [FK_AdminCorps_AdminCorps] FOREIGN KEY([ParentUnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[AdminCorps] CHECK CONSTRAINT [FK_AdminCorps_AdminCorps]
GO
ALTER TABLE [dbo].[Base]  WITH CHECK ADD  CONSTRAINT [FK_Base_Base] FOREIGN KEY([ParentBaseId])
REFERENCES [dbo].[Base] ([BaseId])
GO
ALTER TABLE [dbo].[Base] CHECK CONSTRAINT [FK_Base_Base]
GO
ALTER TABLE [dbo].[EquipmentOwner]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentOwner_Aircraft] FOREIGN KEY([AircraftId])
REFERENCES [dbo].[Aircraft] ([AircraftGuid])
GO
ALTER TABLE [dbo].[EquipmentOwner] CHECK CONSTRAINT [FK_EquipmentOwner_Aircraft]
GO
ALTER TABLE [dbo].[EquipmentOwner]  WITH CHECK ADD  CONSTRAINT [FK_EquipmentOwner_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[EquipmentOwner] CHECK CONSTRAINT [FK_EquipmentOwner_Unit]
GO
ALTER TABLE [dbo].[MissionUnit]  WITH CHECK ADD  CONSTRAINT [FK_MissionUnit_Mission] FOREIGN KEY([MissionId])
REFERENCES [dbo].[Mission] ([MissionId])
GO
ALTER TABLE [dbo].[MissionUnit] CHECK CONSTRAINT [FK_MissionUnit_Mission]
GO
ALTER TABLE [dbo].[MissionUnit]  WITH CHECK ADD  CONSTRAINT [FK_MissionUnit_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[MissionUnit] CHECK CONSTRAINT [FK_MissionUnit_Unit]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_Relationship_RelationshipType] FOREIGN KEY([RelTypeIdx])
REFERENCES [dbo].[RelationshipType] ([RelationshipTypeId])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_Relationship_RelationshipType]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipFrom_Unit] FOREIGN KEY([RelFromUnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_RelationshipFrom_Unit]
GO
ALTER TABLE [dbo].[Relationship]  WITH CHECK ADD  CONSTRAINT [FK_RelationshipTo_Unit] FOREIGN KEY([RelToUnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Relationship] CHECK CONSTRAINT [FK_RelationshipTo_Unit]
GO
ALTER TABLE [dbo].[Ship]  WITH CHECK ADD  CONSTRAINT [FK_Ship_NewShip] FOREIGN KEY([NewShipId])
REFERENCES [dbo].[Ship] ([ShipId])
GO
ALTER TABLE [dbo].[Ship] CHECK CONSTRAINT [FK_Ship_NewShip]
GO
ALTER TABLE [dbo].[Ship]  WITH CHECK ADD  CONSTRAINT [FK_Ship_ShipPrefix] FOREIGN KEY([ShipPrefixId])
REFERENCES [dbo].[ShipPrefix] ([ShipPrefixId])
GO
ALTER TABLE [dbo].[Ship] CHECK CONSTRAINT [FK_Ship_ShipPrefix]
GO
ALTER TABLE [dbo].[Ship]  WITH CHECK ADD  CONSTRAINT [FK_Ship_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Ship] CHECK CONSTRAINT [FK_Ship_Unit]
GO
ALTER TABLE [dbo].[ShipClass]  WITH CHECK ADD  CONSTRAINT [FK_ShipClass_Mod] FOREIGN KEY([ModFrom])
REFERENCES [dbo].[ShipClass] ([ShipClassId])
GO
ALTER TABLE [dbo].[ShipClass] CHECK CONSTRAINT [FK_ShipClass_Mod]
GO
ALTER TABLE [dbo].[ShipClassMember]  WITH CHECK ADD  CONSTRAINT [FK_ShipClassMember_Ship] FOREIGN KEY([ShipId])
REFERENCES [dbo].[Ship] ([ShipId])
GO
ALTER TABLE [dbo].[ShipClassMember] CHECK CONSTRAINT [FK_ShipClassMember_Ship]
GO
ALTER TABLE [dbo].[ShipClassMember]  WITH CHECK ADD  CONSTRAINT [FK_ShipClassMember_ShipClass] FOREIGN KEY([ShipClassId])
REFERENCES [dbo].[ShipClass] ([ShipClassId])
GO
ALTER TABLE [dbo].[ShipClassMember] CHECK CONSTRAINT [FK_ShipClassMember_ShipClass]
GO
ALTER TABLE [dbo].[TaskForce]  WITH CHECK ADD  CONSTRAINT [FK_TaskForce_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[TaskForce] CHECK CONSTRAINT [FK_TaskForce_Unit]
GO
ALTER TABLE [dbo].[Tennant]  WITH CHECK ADD  CONSTRAINT [FK_Tennant_Base] FOREIGN KEY([BaseId])
REFERENCES [dbo].[Base] ([BaseId])
GO
ALTER TABLE [dbo].[Tennant] CHECK CONSTRAINT [FK_Tennant_Base]
GO
ALTER TABLE [dbo].[Tennant]  WITH CHECK ADD  CONSTRAINT [FK_Tennant_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Tennant] CHECK CONSTRAINT [FK_Tennant_Unit]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_AdminCorps] FOREIGN KEY([AdminCorpsId])
REFERENCES [dbo].[AdminCorps] ([AdminCorpsId])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_AdminCorps]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Rank] FOREIGN KEY([RankSymbol])
REFERENCES [dbo].[Rank] ([Symbol])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Rank]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_Service] FOREIGN KEY([ServiceIdx])
REFERENCES [dbo].[Service] ([ServiceId])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_Service]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [FK_Unit_ServiceType] FOREIGN KEY([ServiceTypeIdx])
REFERENCES [dbo].[ServiceType] ([ServiceTypeId])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [FK_Unit_ServiceType]
GO
ALTER TABLE [dbo].[UnitIndex]  WITH CHECK ADD  CONSTRAINT [FK_UnitIndex_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[UnitIndex] CHECK CONSTRAINT [FK_UnitIndex_Unit]
GO
USE [master]
GO
